!!!
%html
  %head
    %title Chronos
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #wrapper
      #header
        #notice= flash[:notice]
        = link_to "Sign in with Facebook", "/auth/facebook" if !signed_in?
      = yield
